.banner-section {
    @include headFont;
    // margin: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

    .banner-section img {
        // flex-direction: column;
        width: 100%;
        // object-fit: cover;
        // height: 15rem;
        height: auto;
        display: block;
        position: relative;
        margin-bottom: 1rem;
    }
    
   .banner-section h2 {
    position: absolute;
    color: #ffffff;
    background-color: #00000080;
    padding: 0.5rem;
    font-size: 1.5rem;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    }

@media (min-width: 20.625em) {

    .salad-picture, .pancake-picture {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // flex-wrap: wrap;
}
}