.food-info-1,
.food-info-2 {
  background-color: #e62222;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(226, 12, 12, 0.1);
}