@use 'variables' as *;

.food-info-1,
.food-info-2 {
  background-color: #fff;
  border: 0.0625rem solid #ddd; 
  margin-bottom: 0.625rem; 
  padding: 1.25rem; 
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
  display: flex; 
  flex-direction: column;
}

.food-info-1 h2, .food-info-2 h2 {
  font-size: 1.5em;
  @include headFont;
  color: #1b71a9; 
}

.food-info-1 img, .food-info-2 img {

  height: auto;
  margin-bottom: 0.625rem; 
  width: -webkit-fill-available;
}

.read-more {
  display: inline-block;
  padding: 0.625rem 0.9375rem; 
  color: #fff;
  background-color: #1b71a9;
  text-decoration: none;
  text-align: center;
  margin-top: 0.625rem; 
  font-weight: bold;
}

.read-more-container {
  display: flex;
  justify-content: flex-end;
}

.food-info-1 p, .food-info-2 p {
  font-size: 1em;
  @include bodyFont;
  color: #333;
  margin-top: 0;
  margin-bottom: 0.625rem;
}

.older-post {
  img {
    margin-top: 0.625rem; 
    margin-bottom: 0.625rem;
  }
}

.food-info-1 p, .food-info-2 p {
  font-size: 1em;
  color: #333;
  margin-top: 0;
  margin-bottom: 1.5625rem; 
}
