
@use 'variables' as * ;


footer {
    background-color: #005991;
    height: 3rem;
}

footer p {
    color: #ffffff;
    padding: 1rem;
    font-size: .625rem;
    align-content: center;
    text-align: center;
    @include bodyFont
    
}


