    @use 'variables' as *;


.latest-recipes {
    margin: 0.5rem;
    background-color: white;

        h2 {
            background-color: $mainColor;
            color: white;
            padding: 0.625rem .625rem;
            margin: 0;
            @include headFont;
        }

        img {
            box-shadow: 
            $mainColor -2px -2px, 
            $mainColor -2px 1px, 
            $mainColor 1px -2px, 
            $mainColor 1px 1px;
            margin-right: 0.75rem;
        }

        td {
            padding: 0.75rem;
            width: auto;
            @include bodyFont;
            display: flex;
            align-items: center;
        }

        tr {
            width: 18.75rem;
        }

        .tableRow2,
        .tableRow4 {
            background-color: #E9E9E9; /* Your desired background color */
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
}