//variables

    //variable for background image
    $backGroundImage: url('../images/bg.jpg');


    // header and button background colors
    $mainColor: #1B71A9;

//breakpoints

    //mobile large

    $mobileLarge: 20.625em;

    //tablet small

    $tabletSmall: 31.25em;

    //tablet large

    $tabletLarge: 43.75em;

    //desktop

    $desktop: 48.125em;

    //banner change

    $bannerChange: 41.875rem;

    //max-width

    $maxWidth: 65rem;